html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

section.workspace {
  @include grid-column(12);
}
.main {
  @include grid-column(8);
  section {
    margin-top: $base-spacing;
  }
}
.sidebar {
  @include grid-column(4);
}

pre {
  background-color: $light-gray;
  padding: $small-spacing;
}
